<script defer>
  if(!window.renderModal) {
    window.renderModal = window.mboCdc.renderModal;
  }
  if(!window.shopContext) {
    window.shopContext = {{ shop_context|json_encode|raw }};
  }
</script>

<span class="module-read-more-grid">
    {% if module.attributes.id != "0" %}
        <a class="module-read-more-list-btn url"
           onclick="window.renderModal(window.shopContext, null, {{ module.attributes.id }})"
           href="javascript:void(0)"
        >{{ 'Read More'|trans({}, 'Modules.Mbo.Modulescatalog') }}</a>

    {% endif %}
</span>
