<span class="module-read-more-grid">
    {% if module.attributes.id != "0" %}
        <a class="module-read-more-list-btn url" href="{{ path('admin_mbo_module_see_more', {"moduleId": module.attributes.id }) }}" data-target="#module-modal-read-more-{{module.attributes.name }}{{ additionalModalSuffix|default('') }}">{{ 'Read More'|trans({}, 'Modules.Mbo.Modulescatalog') }}</a>

        {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/modal_read_more.html.twig' with { 'module': module, 'additionalModalSuffix': additionalModalSuffix|default('') } %}
    {% endif %}
</span>
