{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{% extends '@PrestaShop/Admin/Module/common.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script>
    if (typeof moduleURLs !== 'undefined') {
      moduleURLs['catalogRefresh'] = '{{ path('admin_mbo_catalog_module_refresh')|e('js') }}';
    }

    $('body').on(
      'moduleCatalogLoaded',
      function() {
        {% if app.request.get('filterCategoryTab') %}
        $('.module-category-menu[data-category-tab="{{ app.request.get('filterCategoryTab') }}"]').click();
        {% endif %}
        {% if app.request.get('filterCategoryRef') %}
        $('.module-category-menu[data-category-ref="{{ app.request.get('filterCategoryRef') }}"]').click();
        {% endif %}
      }
    );
  </script>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-10 module-catalog-page">
      {# PrestaTrust modal #}
      {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/modal_confirm_prestatrust.html.twig' %}
      {# Contains toolbar-nav for module page #}
      {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/modal_import.html.twig' with { 'level' : level, 'errorMessage' : errorMessage } %}
      {# Contains menu with Selection/Categories/Popular and Tag Search #}
      {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/menu_top.html.twig' %}
      {# Temporary loader until ajax has finished and display the full catalog #}
      {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/grid_loader.html.twig' %}
      {# Module Categories Grid #}
      {% if topMenuData.categories is defined %}
        {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/categories_grid.html.twig' with { 'categories' : topMenuData.categories }  %}
      {% endif %}
    </div>
  </div>
{% endblock %}
