{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{% extends '@PrestaShop/Admin/Module/common.html.twig' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      {% block catalog_categories_listing %}
        <div class="module-short-list">
          {% if modules is empty %}
            <div class="modules-list module-list-empty">
              <p>
                {{ 'You do not have any uninstalled module.' | trans({}, 'Modules.Mbo.Modulescatalog') }}
              </p>
            </div>
          {% else  %}
            {% include '@PrestaShop/Admin/Module/Includes/grid_manage_installed.html.twig' with { 'modules': modules, 'display_type': 'list', 'origin': 'manage', 'id': 'all' } %}

            {% block addon_card_see_more %}
              {% if (modules | length) > maxModulesDisplayed %}
                {% include '@PrestaShop/Admin/Module/Includes/see_more.html.twig' with { 'id': 'all' } %}
              {% endif %}
            {% endblock %}
          {% endif %}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
