parameters:
	bootstrap: tests/phpstan/bootstrap.php
	paths:
		- src
		- upgrade
		- ps_mbo.php
	dynamicConstantNames:
		- _PS_VERSION_
	ignoreErrors:
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Property TabCore::\$name \(string\) does not accept array<string>.#'
		- '#Parameter \#1 \$hook_name of method ModuleCore::registerHook\(\) expects string, array given.#'

	level: 5
