parameters:
	bootstrap: tests/phpstan/bootstrap.php
	paths:
		- src
		- ps_mbo.php
	dynamicConstantNames:
		- _PS_VERSION_
	ignoreErrors:
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Parameter \#2 \$variable of static method ModuleCore::getPermissionStatic\(\) expects array, string given.#'
		- '#Parameter \#1 \$idProfile of static method ProfileCore::getProfileAccess\(\) expects int, string given.#'

	level: 5
