parameters:
	bootstrap: tests/phpstan/bootstrap.php
	paths:
		- src
		- ps_mbo.php
	dynamicConstantNames:
		- _PS_VERSION_
	ignoreErrors:
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Parameter \#2 \$variable of static method ModuleCore::getPermissionStatic\(\) expects array, string given.#'
		- '#Parameter \#1 \$idProfile of static method ProfileCore::getProfileAccess\(\) expects int, string given.#'
		- '#Property TabCore::\$name \(string\) does not accept array\<int, string\>.#'
		- '#Access to an undefined property Tab::\$wording.#'
		- '#Access to an undefined property Cookie::\$id_employee.#'
		-
		    message: '#Property TabCore::\$name \(string\) does not accept array\<int\|string, mixed\>.#'
		    path: ps_mbo.php
		    count: 1 # optional

	level: 5
