parameters:
  bootstrapFiles:
    - bootstrap.php
  paths:
    - ../../src
    - ../../ps_mbo.php
  dynamicConstantNames:
    - _PS_VERSION_
    - ps_mbo::VERSION
  ignoreErrors:
    - '#Call to function method_exists\(\) with \$this\(ps_mbo\)#'
  treatPhpDocTypesAsCertain: false
  level: 5
