parameters:
  bootstrapFiles:
    - bootstrap.php
  paths:
    - ../../src
    - ../../ps_mbo.php
  dynamicConstantNames:
    - _PS_VERSION_
    - ps_mbo::VERSION
  ignoreErrors:
    - '#^Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.$#'
    - '~^Parameter #1 \$modules of method PrestaShopBundle\\Service\\DataProvider\\Admin\\CategoriesProvider::getCategoriesMenu\(\) expects array|PrestaShop\\PrestaShop\\Core\\Addon\\AddonsCollection, PrestaShop\\Module\\Mbo\\Modules\\Collection given\.$~'
    - '#^Class PrestaShop\\Module\\PsAccounts\\Repository\\UserTokenRepository not found.$#'

  level: 5
