#page-header-desc-configuration-accounts_logout {
  color: #fff;
  background-color: #9BCBA6;
  border-color: #9BCBA6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.large-tooltip .tooltip-inner {
  max-width: unset!important;
  white-space: pre-line;
  word-wrap: normal;
}
@media screen and (max-width: 300px) {
.large-tooltip .tooltip-inner {
  max-width: 100%;
}
}