{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{% set url, priceRaw, priceDisplay, url_active, urls, name, transDomains =
  module.attributes.url,
  module.attributes.price.raw,
  module.attributes.price.displayPrice,
  module.attributes.url_active,
  module.attributes.urls,
  module.attributes.name,
  constant('PrestaShop\\Module\\Mbo\\Module\\ModuleBuilder::ACTIONS_TRANSLATION_DOMAINS')
%}
<div class="btn-group module-actions">
  {% if url_active == 'buy' %}
    <a class="btn btn-primary btn-primary-reverse btn-block btn-outline-primary module_action_menu_go_to_addons" href="{{ url }}" target="_blank">
      {{ 'Discover'|trans({}, 'Modules.Mbo.Modulescatalog') }}
    </a>
  {% elseif urls|length %}
    {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/action_button.html.twig' with {
      'name': name,
      'classes_form': 'btn-group form-action-button',
      'classes' : 'btn btn-primary-reverse btn-outline-primary',
      'url': urls[url_active],
      'action': url_active,
      'transDomain': transDomains}
    %}
    {% if (urls|length > 1) %}
      <input type="hidden" class="btn" />
      <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <span class="sr-only">{{ 'Toggle Dropdown'|trans({}, 'Modules.Mbo.Modulescatalog') }}</span>
      <div class="dropdown-menu">
        {% for module_action, module_url in urls %}
          {% if module_action != url_active %}
            <li>
              {% include '@Modules/ps_mbo/views/templates/admin/controllers/module_catalog/includes/action_button.html.twig' with {
                'name': name,
                'classes' : 'dropdown-item',
                'url': module_url,
                'action': module_action,
                'transDomain': transDomains}
              %}
            </li>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>
