name: PHP tests
on: [pull_request]
jobs:
  php-linter:
    name: PHP Syntax check 7.2 => 8.2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: PHP syntax checker 7.2
        uses: prestashop/github-action-php-lint/7.2@master
      - name: PHP syntax checker 7.3
        uses: prestashop/github-action-php-lint/7.3@master
      - name: PHP syntax checker 7.4
        uses: prestashop/github-action-php-lint/7.4@master
      - name: PHP syntax checker 8.0
        uses: prestashop/github-action-php-lint/8.0@master
      - name: PHP syntax checker 8.1
        uses: prestashop/github-action-php-lint/8.1@master
      - name: PHP syntax checker 8.2
        uses: prestashop/github-action-php-lint/8.2@master
  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    env:
      _PS_ROOT_DIR_: '.'
      PS_VERSION: '8.0.2'
      PHP_VERSION: '7.4'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Composer Install
        run: COMPOSER_PROCESS_TIMEOUT=600 composer install --ansi --prefer-dist --no-interaction --no-progress
      - name: Wait for services to be ready
        run: sleep 10
      - name: Pull PrestaShop files
        run: docker run -tid --rm -v ps-volume:/var/www/html -v $PWD:/var/www/html/modules/ps_mbo  -e _PS_ROOT_DIR_=/var/www/html -e DISABLE_MAKE=1 --workdir=/var/www/html/modules/ps_mbo --name container-php-cs-fixer prestashop/prestashop:$PS_VERSION-$PHP_VERSION
      - name: Check vendor
        run: docker ps && docker exec container-php-cs-fixer ls /var/www/html/vendor/symfony/symfony/src/Symfony/Component/Dotenv
      - name: Run PHPCSFixer
        run: docker exec -e _PS_ROOT_DIR_=/var/www/html -e DISABLE_MAKE=1 --workdir=/var/www/html/modules/ps_mbo container-php-cs-fixer ./vendor/bin/php-cs-fixer fix --dry-run --diff
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    strategy:
      matrix:
        presta-versions: ['8.0.2', '8.1.5']
        php-versions: ['8.0', '8.1']
    steps:
      - name: Pull PrestaShop files (Tag ${{ matrix.presta-versions }})
        run: docker run -tid --rm -v ps-volume:/var/www/html --name temp-ps prestashop/prestashop:${{ matrix.presta-versions }}
      - name: Wait for container to be loaded
        run: sleep 10
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache vendor folder
        uses: actions/cache@v4
        with:
          path: vendor
          key: php-${{ hashFiles('composer.lock') }}
      - name: Cache composer folder
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: php-composer-cache
      - name: Install dependencies
        run: composer install
      - name: Run PHPStan
        run: docker run --rm --volumes-from temp-ps -v $PWD:/var/www/html/modules/ps_mbo -e _PS_ROOT_DIR_=/var/www/html --workdir=/var/www/html/modules/ps_mbo ghcr.io/phpstan/phpstan:2-php${{ matrix.php-versions }} analyse --configuration=/var/www/html/modules/ps_mbo/tests/phpstan/phpstan-${{ matrix.presta-versions }}.neon

  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: xdebug

      - name: Checkout
        uses: actions/checkout@v4

      # Add vendor folder in cache to make next builds faster
      - name: Cache vendor folder
        uses: actions/cache@v4
        with:
          path: vendor
          key: php-${{ hashFiles('composer.lock') }}

      # Add composer local folder in cache to make next builds faster
      - name: Cache composer folder
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: php-composer-cache

      - run: composer install
      - run: make phpunit
